---
import { micromark } from "micromark";

import Section from "~/components/Section.astro";

const about = `I am Reza, a _front-end developer_, open-source enthusiast, and tech advisor.

I started my career as a _PHP developer_, and later switched to _Javascript_ as my main language when _jQuery_ and _Mootools_ were at the height of their popularity.

I've worked with many _server-side_ languages and have a good understanding of all related technologies, which gives me a versatile and unbiased point of view.

I'm _solution-oriented_ and value reliability and speed above everything else. So I’m committed to delivering projects according to the designated _timelines_ without compromising _code quality_.

As a frontend developer I've focused on _web_ development and _mobile_ applications, but still have an interest in _Backend_ and _DevOps_, and try to grow my skills one step at a time and expand my knowledge base.
`;
---

<Section class="about" title="tl;dr">
  <span is:raw set:html={micromark(about)} />
</Section>

<style is:global>
  .about {
    grid-area: about;
    padding: 1.5em 1em;
    color: var(--secondary);
    font-family: "Arapey", serif;
    line-height: 1.4;
    letter-spacing: 0.05em;
  }

  .about h2 {
    display: inline !important;
    font-size: 1em;
  }

  .about:hover p > * {
    color: var(--strong);
  }

  .about span {
    font-size: 0.9em;
  }

  .about span p {
    margin-top: calc(1em / 0.9);
  }

  .about span p:first-child {
    display: inline;
    margin-top: 0;
  }

  @media screen and (min-width: 426px) {
    .about {
      padding: 1.5em 2em;
    }
  }

  @media screen and (min-width: 768px), print {
    .about {
      padding: 2em;
      background: var(--light);
    }
  }
</style>
