---
import { micromark } from "micromark";

import Section from "~/components/Section.astro";

const about = `I began my career simultaneously working with PHP and JavaScript, eventually focusing more on JavaScript and other technologies. As a senior frontend developer, I specialize in web and mobile application development using HTML, CSS, JavaScript/TypeScript, React, and React Native. 

I also possess strong backend and DevOps skills, continuously work to expanding my expertise. Currently, I am involved in projects utilizing React Native, React, Laravel, Node.js, and Go, while contributing to software architecture, system design, and DevOps management. I have experience with Docker, AWS, and emerging AI tools, including local ML, voice recognition, and image processing.
`;
---

<Section class="about" title="tl;dr">
  <span is:raw set:html={micromark(about)} />
</Section>

<style is:global>
  .about {
    grid-area: about;
    padding: 1.5em 1em;
    color: var(--secondary);
    font-family: "Raleway", serif;
    /* line-height: 1.4; */
    line-height: 1.2em;
    letter-spacing: 0.05em;
  }

  .about h2 {
    display: inline !important;
    font-size: 1em;
  }

  .about:hover p > * {
    color: var(--strong);
  }

  .about span {
    font-size: 0.8em;
  }

  .about span p {
    margin-top: calc(1em / 0.9);
  }

  .about span p:first-child {
    display: inline;
    margin-top: 0;
  }

  @media screen and (min-width: 426px) {
    .about {
      padding: 1.5em 2em;
    }
  }

  @media screen and (min-width: 768px), print {
    .about {
      padding: 2em;
      background: var(--light);
    }
  }
</style>
