---
import { micromark } from "micromark";

import Section from "~/components/Section.astro";

const about = `I started my career as a PHP developer, and later switched to JavaScript as my main language. I've worked with many server-side languages and have a good understanding of all related technologies.

As a frontend developer I've focused on web development and mobile applications specificaly HTML, CSS, JS/TS, React, React Native and still have an interest in Backend and DevOps, try to grow my skills one step at a time and expand my knowledge base.
`;
---

<Section class="about" title="tl;dr">
  <span is:raw set:html={micromark(about)} />
</Section>

<style is:global>
  .about {
    grid-area: about;
    padding: 1.5em 1em;
    color: var(--secondary);
    font-family: "Raleway", serif;
    /* line-height: 1.4; */
    line-height: 1.2em;
    letter-spacing: 0.05em;
  }

  .about h2 {
    display: inline !important;
    font-size: 1em;
  }

  .about:hover p > * {
    color: var(--strong);
  }

  .about span {
    font-size: 0.8em;
  }

  .about span p {
    margin-top: calc(1em / 0.9);
  }

  .about span p:first-child {
    display: inline;
    margin-top: 0;
  }

  @media screen and (min-width: 426px) {
    .about {
      padding: 1.5em 2em;
    }
  }

  @media screen and (min-width: 768px), print {
    .about {
      padding: 2em;
      background: var(--light);
    }
  }
</style>
