---
import { t } from "~/i18n/labels";

import Section from "~/components/Section.astro";
import Experience from "~/components/Experience.astro";

const experiences = [
  {
    title: "React/React Native Developer",
    company: "UN.org",
    website: "https://un.org/en/",
    from: new Date("2023-04-20"),
    location: "Bangkok, Thailand",

    summary: 'Led the development of multiple React systems, focusing on enhancing accessibility and reducing system complexity. Implemented a scalable architecture using Tailwind CSS, React Query, React Table, Headless UI, and a custom design system.',
    highlight: "Key achievements: Enhanced accessibility, maintainability and reduced complexity.",
    challenges: ["Developed scalable architecture", "Improved user and developer experience"],
  },
  {
    title: "React/React Native Engineer",
    company: "Wonderfruit.co",
    website: "https://wonderfruit.co/",
    from: new Date("2022-10-01"),
    location: "Bangkok, Thailand",

    summary: `Joined as the first in-house engineer, maintaining and optimizing the company's React Native application. Assisted with AWS lambdas and WordPress updates. Responsibilities included planning, architecture, and implementation.`,
    highlight: "Main contributions:",
    challenges: [
      "Rewrote the application from scratch to enhance performance and stability",
      "Integrated React Native Maps for iOS/Android",
      "Focused on stability, accessibility, using AWS, Firebase, CodePush, Expo",
      "Initiated a Laravel project for marketing data reports",
    ],
  },
  {
    title: "Web/Mobile Engineer",
    company: "Amity.co",
    website: "https://amity.co/",
    from: new Date("2021-07-01"),
    to: new Date("2022-10-15"),
    location: "Bangkok, Thailand",

    summary: `Led the development of TypeScript SDK, a multi-environment wrapper for the company API. Implemented features, conducted research, POCs, modifications and reviewing.`,
    highlight: "Key challenges:",
    challenges: [
      "Develope fundamental features like Caching, Reactivity and Real-Time Event",
      "Synchronized platform features across web, native mobile, and React Native",
      "Conducted interviews and onboarded new team members",
      "Designed and implemented unit tests using Jest",
    ],
  },
  {
    title: "Fullstack Engineer",
    company: "Peste",
    website: "",
    from: new Date("2020-04-01"),
    to: new Date("2021-03-01"),
    location: "Amsterdam, Netherlands - Remote",

    summary: `Consulted on architecture design for full-stack and frontend web platforms, provided reliable time and budget estimations, and delivered products with a 4-person team.`,
    highlight: `Core activities: Built stable and maintainable codebases using TypeScript, Node, PHP. Assisted backend team with database and application structure design. Developed front-end for 5+ web apps using React.js, Next.js, Redux, GraphQL, and Draft.js.`,
  },
  {
    title: "Fullstack Engineer",
    company: "Upera.tv",
    website: "https://upera.tv/",
    from: new Date("2014-01-01"),
    to: new Date("2019-06-28"),
    location: "Tehran, Iran",

    summary: `Developed core software with Laravel and led a team of 5 programmers to build user interfaces. Utilized Nuxt, React Native, React and TypeScript. Focused on performance and efficiency for millions of users.`,
    highlight: `Notable projects: Website development with Vue and Nuxt, TV application with Java, Mobile application with React Native and TypeScript, React dashboard with TypeScript, TailwindCSS, and React Query.`,
  },
  {
    title: "Web Engineer",
    company: "Soft-Max.com",
    website: "https://soft-max.com/",
    from: new Date("2013-08-01"),
    to: new Date("2014-02-01"),
    location: "Erbil, Iraq",

    summary: "Built UI, applied new designs, and researched adoption plans for upcoming techs.",
  },
  {
    title: "Web Engineer",
    company: "Varzesh3.com",
    website: "https://varzesh3.com/",
    from: new Date("2012-08-01"),
    to: new Date("2013-02-01"),
    location: "Tehran, Iran",

    summary: `Designed and managed the "national online games tournament" platform. Initialized and led a team for the company's e-commerce project.`,
  },
];
---

<Section class="experiences" title={t("experiences")}>
  <ol>
    {
      experiences.map((experience) => (
        <li>
          <Experience {...experience} />
        </li>
      ))
    }
  </ol>
</Section>

<script>
  const VISIBLE = "visible";
  const experiences = [
    ...document.querySelectorAll(".experiences .experience"),
  ];

  function onClick(evt: Event) {
    const { classList } = evt.currentTarget as HTMLElement;
    const hadVisible = classList.contains(VISIBLE);

    experiences.forEach((experience) => experience.classList.remove(VISIBLE));
    if (!hadVisible) classList.add(VISIBLE);
  }

  // addListener
  experiences.forEach((experience) => {
    experience.addEventListener("click", onClick);
  });
</script>

<style is:global>
  .experiences {
    counter-reset: experiences;
    grid-area: experiences;
  }

  .experiences ol {
    padding: 0;
    list-style: none;
  }

  @media screen and (min-width: 768px), print {
    .experiences li:first-child .experience {
      padding-top: 0;
      border-top: none;
    }
    .experiences li:last-child .experience {
      border-bottom: none;
    }
  }
</style>
